add_newline = false

format="""
$username\
$hostname\
$directory\
$python\
$git_branch\
$git_status\
$character
"""

[git_branch]
symbol=''
# With Symbol
#format = '[git:\([$branch]($style)\)](bold #1E90FF) [$symbol](bold #00FF00) '

# Without Symbol
format = '[git:\([$branch]($style)\)](blue) '
style='red'

[git_status]
modified = '✘ '
format='[$modified](bold #00FF00)'


[username]
style_user = 'white'
style_root = 'white'
format='[$user]($style)'
show_always=true
disabled=false

[hostname]
ssh_only=false
format='[@$hostname](white) '
disabled=false

[directory]
format='[➜ $path]($style)[$read_only]($read_only_style) '
style = 'bold green'


[line_break]
disabled = true

[package]
disabled = true

[python]
format = '[\[$virtualenv\]]($style) '
style = 'bold red'

[character]
format = '[\$](bold purple) '
